{% load static %}
<!DOCTYPE html>
<html> 
    <head> 
        <title> Ahoj</title>
        <link rel="stylesheet" href="{% static 'styly.css' %}">
    </head>
    <body> 
        <h1>Moje stránka</h1>
        {% block body %} {% endblock%}
        <hr>
        &copy; 2020 6g
    </body>
</html>
