{% extends "books/base.html" %}

{% block body %}
    <h2 id="nadpis2">Nadpis2</h2>
    <p>
        ahojda <em>jahojda</em>
    </p>
    <p>
        sdfasd <strong class="silný">asdf</strong>
    </p>
    <strong>ne</strong>
    Fila<br>
    Do
    <div>
        texticek pokracuje<hr>ahooj
    </div>
    <span>
        texticek 2
    </span>

    <ul>
        <li>jedna</li>
            <ol>
                <li>les</li>
                <li>pes</li>

            </ol>
        <li>dva</li>
    </ul>

    <p>
        <a href="https://www.google.com">Google</a>
    </p>
    <br> <img src="https://cdn.zmescience.com/wp-content/uploads/2017/05/sand-cat-exhibit-background-habitat.jpg.824x0_q71.jpg"alt="pes">
    {% endblock %}