body {
    font-family: "Comic Sans MS", Arial, sans-serif;
}
h1 {
    color: #f17be8;
    font-size: 50px;
}

img {
    border: solid 20px #090;
    width: 20%;
}
img:hover {
    width: 50%;
}
strong {
    color: #090;
}
.silný {
    color: #009
}
#nadpis2 {
    color: #900
}
ol li {
    color: #090
}
a {
    color:red
}
a:hover {
    
    color: #f0f
}
h1 {
    border: solid 20px #090;
    padding: 10px;
    margin: 0;
    margin-bottom: 100px;
    background-color: #009;
    
}